* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    gap: 2rem;
}

#result {
    font-weight: bold;
    font-size: large;
}

.player {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
}

.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#your-choice, #computer-choice {
    font-weight: bold;
    height: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#result {
    font-size: 2rem;
}

button {
    border-radius: 20px;
    padding: .5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
}

.btns-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

button:hover {
    filter: invert(100);
}